@layer base {
  @font-face {
    font-family: 'Gugi-Regular.ttf', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/font/Gugi-Regular.ttf') format('ttf');
  }
}
.ant-btn-primary {
  border-color: red;
}
